body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #1c1c1c;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: left;
            background-color: #232323;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #ffffff;
			text-align: center;
            font-size: 2em;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: left;
        }

        label {
			color: #d4d4d4;
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 1em;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        h2 {
            color: #d4d4d4;
            font-size: 1.5em;
            margin-top: 20px;
        }

        #response {
			background-color: #444444;
			color: #fff;
            width: 97%;
            padding: 10px;
            border: 1px solid #333333;
            border-radius: 5px;
            font-size: 1em;
            margin-top: 10px;
        }

        #mytext {
			background-color: #444444;
			color: #fff;
            width: 97%; /* Increased the width to 70% */
            padding: 10px;
            border: 1px solid #333333;
            border-radius: 5px;
            font-size: 1em;
            margin-bottom: 10px;
            height: 10em; /* Adjust the height as needed */

        }

        .signature {
            margin-top: 20px;
            font-size: 0.8em;
            color: #777;
			}
			
        button.copy-button {
			background-color: #008CBA;
			color: #fff;
			border: none;
			padding: 10px 20px;
			font-size: 1em;
			border-radius: 5px;
			cursor: pointer;
			margin-top: 10px;
		}

		button.copy-button:hover {
			background-color: #007B9D;
		}

		button.add-button {
			background-color: #4caf50; /* Choisis la couleur que tu préfères */
			color: #fff;
			border: none;
			padding: 10px 20px;
			font-size: 1em;
			border-radius: 5px;
			cursor: pointer;
			margin-left: 5px; /* Pour ajouter un espace entre les boutons Copier et Ajouter */
		}

		button.add-button:hover {
			background-color: #45a049; /* Choisis la couleur pour l'effet hover */
		}


		#copy-response-container {
			margin-top: 10px;
			text-align: center;
		}

		#tag-container {
			margin: 10px 0;
		}

		#tags {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
			align-items: center;
		}

		/* Style de base pour les tags */
		.tag {
			display: inline-block;
			padding: 5px 15px;
			margin: 5px;
			font-size: 0.9em;
			color: #fff;
			border: 2px solid #333; /* Bordure plus visible */
			border-radius: 25px; /* Arrondi plus prononcé */
			background-color: #f4f4f4; /* Couleur de fond clair pour le contraste */
			cursor: pointer;
			transition: all 0.3s ease;
		}

		.tag:hover {
			color: #fff;
			background-color: #333; /* Inversion des couleurs au survol */
		}

		.tag.selected {
			color: #fff;
			background-color: #4caf50; /* Couleur de fond différente pour le tag sélectionné */
			border-color: #4caf50; /* Bordure de même couleur que le fond */
		}


		/* Style pour les icônes devant les titres des groupes de tags */
		.tag-container label:before {
			/*content: '\1F4AC';  Code unicode pour l'icône bulle de conversation, change selon l'icône voulue */
			margin-right: 8px;
			font-size: 18px;
		}

		/* Style additionnel pour spécifier les différences entre les groupes de tags */
		#tone-tags .tag {
			background-color: #333; /* Différente couleur de fond pour le groupe Ton */
		}

		#format-tags .tag {
			background-color: #444; /* Différente couleur de fond pour le groupe Format */
		}

		#length-tags .tag {
			background-color: #555; /* Différente couleur de fond pour le groupe Longueur */
		}

		/* Modifier ceci selon les couleurs et styles exacts que tu veux utiliser */


		.tag.add-new {
			background-color: #333;
			color: white;
		}

		#new-tag-input {
			border: none;
			border-bottom: 1px solid #ccc;
			margin-left: 5px;
			outline: none;
		}
		.tag.selected {
			background-color: #333;
			color: white;
		}

		#loading-bar-container {
			width: 100%;
			background-color: #f3f3f3;
			border-radius: 5px;
			/* Ajouter une petite ombre pour un effet de profondeur */
			box-shadow: 0 2px 4px rgba(0,0,0,0.2);
			overflow: hidden; /* Assure que la barre interne ne dépasse pas lors de l'arrondi des coins */
		}

		#loading-bar {
			height: 5px;
			background-color: #4caf50;
			width: 0%;
			border-radius: 5px;
			transition: width 2s ease-in-out; /* Transition douce pour l'effet d'avancement */
		}
